<div class="form-container" id="toolbar">
  <md-toolbar color="primary" [@fallIn]="state">
    <button class="logout" (click)="logout()" md-button>Logout</button>
  </md-toolbar>
  <md-card>
    <div id="page" [@moveInLeft]="state">
      <h2>Hey {{ name.auth.displayName }}!</h2>
      <p> Type text (mixed with MathML, TeX or asciimath) in the box below for a live preview.</p>
      <md-input-container>
        <textarea mdInput
                  mdTextareaAutosize
                  placeholder="Autosized textarea"></textarea>
      </md-input-container>
      <textarea id="MathInput" cols="60" rows="10"
      (keyup)="Update()" style="margin-top:5px" [(ngModel)]="formula">
</textarea>
<p>Configured delimiters:</p>
  <ul>
  <li>TeX, inline mode: <code>\(...\)</code> or <code>$...$</code></li>
  <li>TeX, display mode: <code>\[...\]</code> or <code> $$...$$</code></li>
  <li>Asciimath: <code>`...`</code>.</li>
  </ul>


<p>Preview is shown here:</p>
<div id="MathPreview" style="border:1px solid; padding: 3px; width:50%; margin-top:5px"></div>
<div id="MathBuffer" style="border:1px solid; padding: 3px; width:50%; margin-top:5px;
visibility:hidden; position:absolute; top:0; left: 0"></div>


    </div>
  </md-card>
</div>
